.navbar-nav .nav-link i {
    font-size: 1.6em;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 1;
}
.text-body {
    font-size: 1em;
}
.text-muted {
    font-size: 0.9em;
}
.fw-bold {
    font-weight: bold;
}
.ms-auto {
    margin-left: auto;
}