.navbar-nav .nav-link i {
    font-size: 1.6em;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 1;
}
.text-body {
    font-size: 1em;
}
.text-muted {
    font-size: 0.9em;
}
.fw-bold {
    font-weight: bold;
}
.ms-auto {
    margin-left: auto;
}

.form-check-input {
    border-radius: 50% !important;
    width: 25px;  
    height: 25px; 
    border: 2px solid rgb(168, 168, 168);  
}

.table, .table td {
    border: 0;
    padding-left: 0 !important;
}

.table td.left-align {
    text-align: left;
}

.table td.right-align {
    text-align: right;
}

.table td:first-child {
    padding-left: 1em !important;
}

.table td:nth-child(2) {
    border-bottom: 1px solid #bdbdbd !important;
}

.remove-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FF3B30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td {
    vertical-align: middle; 
}
