<script>
    $(document).ready(function() {
//       $('#datatables-reponsive').DataTable({
//         "pagingType": "full_numbers",
//         "lengthMenu": [
//           [10, 25, 50, -1],
//           [10, 25, 50, "All"]
//         ],
//         responsive: true,
//         language: {
//           search: "_INPUT_",
//           searchPlaceholder: "Search records",
//         }
// 
//       });

      var table = $('#datatables-reponsive').DataTable();

	  table.on('click', 'tr[data-href]', function() {
		  // var url = $(this).attr('data-href');
		  // window.open(url, '_blank');
		  
        document.location = $(this).attr('data-href');
      });
    });
  </script>
