<!-- Load FilePond library -->
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>

<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<script>
    /*
    We need to register the required plugins to do image manipulation and previewing.
    */
    FilePond.registerPlugin(
        FilePondPluginFileEncode,
        FilePondPluginFileValidateType,
        FilePondPluginFileValidateSize,
        FilePondPluginImageExifOrientation,
        FilePondPluginImagePreview,
        FilePondPluginImageCrop,
        FilePondPluginImageResize,
        FilePondPluginImageTransform,
        FilePondPluginFilePoster
    );
    
    // Get a reference to the file input element
      const inputElement = document.querySelector('input[type="file"]');
    
    FilePond.create(
        inputElement,
        {
            labelIdle: '<span class="filepond--label-action">Change</span>',
            acceptedFileTypes: ['image/*'],
            imagePreviewHeight: 170,
            imageCropAspectRatio: '1:1',
            imageResizeTargetWidth: 400,
            imageResizeTargetHeight: 400,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleProgressIndicatorPosition: 'center bottom',
            styleButtonRemoveItemPosition: 'center bottom',
            styleButtonProcessItemPosition: 'right bottom',
            server: {
                url: '/filepond/',
                process: {
                    url: 'process.php',
                    method: 'POST',
                    headers: {
                      'x-customheader': 'Uploading Image File'
                    },
                    onload: (response) => {
                      console.log("raw", response)
                      response = JSON.parse(response);
                      console.log(response);
                      return response.key;
                    },
                    onerror: (response) => {
                      console.log("raw", response)
                      response = JSON.parse(response);
                      console.log(response);
                      return response.msg
                    },
                    ondata: (formData) => {
                      window.h = formData;
                      console.log(formData)
                      return formData;
                    }
                }
            },
            // files: [
            //     {
            //         source: '<?= $uid ?>',        // the server file reference
            //         options: {
            //             type: 'local',      // set type to local to indicate an already uploaded file
            //             metadata: {
            //                 poster: '<?= $profile_image_url ?>'
            //             }
            //         },
            //     },
            // ],
        }
    );
</script>