.table-action {
    text-align: right;
}

.table-action a {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-right: 5px;
}

.table-action a:last-child {
    margin-right: 0;
}

tr:hover .table-action a {
    opacity: 1;
}		