.profile-container {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile-pic-edit-icon {
    width: 30px;
    height: 30px;
    background-color: #111111;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#datatables-reponsive tr[data-href],
#datatables-reponsive tr[onClick],
td[data-href] {
    cursor: pointer;
}

td[data-href]:hover {
    background-color: #cef;
}

#datatables-reponsive td {
    vertical-align: top;
}

.card-responsive:hover .card-body {
    cursor: pointer;
    background: #E2EAFA;
}

.table-action {
    text-align: right;
}

.table-action a {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-right: 5px;
}

.table-action a:last-child {
    margin-right: 0;
}

tr:hover .table-action a {
    opacity: 1;
}		

.module-footer-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.timetable {
    font-size: 9pt;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.timetable-head, .timetable .day, .timetable .period {
    border: 1px #ccc solid !important;
}

.timetable .period {
    position: relative;
    width: 13.5%;
    height: 90px;
}

.timetable .day {
    width: 5.5%;
    font-size: 9pt;
    font-weight: bold;    
    text-transform: uppercase;
}

.timetable-period-subject {
    font-weight: bold;
}

.timetable-period-place {
    text-transform: uppercase;
    font-size: 7pt;
}

.period .subject {
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
    padding: 0 5px;
}

.period .teacher {
    margin: 40px 0 30px;
    text-align: center;
}

.period .place {
    position: absolute;
    bottom: 3px;
    left: 5px;
    text-align: left;
    font-size: 0.9em;
}

.period i {
    display: none;
    opacity: 0.5;
}

.period:hover i {
    display: block;
}

.period .fa-edit {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
