#datatables-reponsive tr[data-href], #datatables-reponsive tr[onClick] {
    cursor: pointer;
}

#datatables-reponsive td {
    vertical-align: top;
}

.card-responsive:hover .card-body {
    cursor: pointer;
    background: #E2EAFA;
}

.table-action {
    text-align: right;
}

.table-action a {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-right: 5px;
}

.table-action a:last-child {
    margin-right: 0;
}

tr:hover .table-action a {
    opacity: 1;
}		

.module-footer-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.timetable {
    font-size: 9pt;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.timetable-head, .timetable .day, .timetable .period {
    border: 1px #ccc solid !important;
}

.timetable .period {
    position: relative;
    width: 13.5%;
    min-height: 50px;
    text-align: center;
}

.timetable .day {
    width: 5.5%;
    font-size: 9pt;
    font-weight: bold;    
    text-transform: uppercase;
}

.timetable-period-subject {
    font-weight: bold;
}

.timetable-period-place {
    text-transform: uppercase;
    font-size: 7pt;
}

.period .subject {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 0 5px;
}

.period .teacher {
    margin: 40px 0 30px;
}

.period .place {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0 5px;
}
