<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><?= "$app_title | $page_title" ?></title>

<link rel="canonical" href="https://appstack.bootlab.io/pages-reset-password.html" />
<link rel="shortcut icon" href="/admin/dist/img/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
<link class="js-stylesheet" href="/admin/dist/css/light.css" rel="stylesheet">
<link rel="stylesheet" href="/admin/styles/timetable.css">
<!-- <script src="js/settings.js"></script> -->

<!-- Filepond stylesheet -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">