<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><?= "$app_title | $page_title" ?></title>

<link rel="shortcut icon" href="/frontend/assets/img/favicon.png" />
<link rel="stylesheet" href="/frontend/assets/css/plugins.css">
<link rel="stylesheet" href="/frontend/assets/css/style.css">

<!-- Filepond stylesheet -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

<!-- Custom stylesheets -->
<link rel="stylesheet" href="/styles/timetable.css" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>