@font-face {
    font-family: 'poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@media (min-width: 992px) {

	.row-cols-lg-8>* {
		-ms-flex: 0 0 12.5%;
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
	
	.row-cols-lg-8 div:first-child {
		border-right: 1px solid rgb(104, 104, 104) !important;
		border-bottom: 1px solid rgb(104, 104, 104) !important;
	}

	.row>div {
		border-right: 1px solid rgb(104, 104, 104);
		border-bottom: 1px solid rgb(104, 104, 104);
	}

	.day {
		border-left: 1px solid rgb(104, 104, 104);
		border-right: 1px solid rgb(104, 104, 104) !important;
	}

	.period-header {
		border-right: 1px solid rgb(104, 104, 104) !important;
		border-top: 1px solid rgb(104, 104, 104);
	}

	.period {
		display: none !important;
	}
}
.row>div {
	position: relative;
	padding: 5px 10px;
	border-bottom: 1px solid rgb(104, 104, 104);
}

.day,
.period-header {
    font-family: 'poppins-medium';
    font-size: 1.2rem;
	color: rgb(77, 77, 77);
	background-color: none !important;
	border-bottom: 1px solid rgb(104, 104, 104) !important;
}

.period {
	display: block;
	position: absolute;
	right: 5px; 
	font-size: 10px;
	color: rgb(104, 104, 104);
}

.subject,
.teacher {
    font-family: 'poppins-regular';
    font-size: 1rem;
    color: rgb(104, 104, 104);
}